{% extends "_base.html" %}

{% block content %}
  <!-- citaition -->
  <div class="container mx-auto md:my-36 pt-36">
    <div class="md:text-7xl sm:text-7xl tracking-wide uppercase font-bold">
        <p>We have no sales...</p>
        <p class="md:indent-20">But we can code!</p>
    </div>
    <div class="font-thin italic text-xl my-5 " style="max-width: 350px;">
        <p>
        From web developers who see projects through to completion
        </p>
    </div>
  </div>
<!--  -->

  <!-- citaition end -->

  <!-- company -->
  <div class="container mx-auto pt-2">
    <div class="font-light text-2xl my-5">The companies we work with</div>
    <div class="flex flex-wrap gap-3" style="max-width: 595px;">
        <div class="block p-5 max-w-sm bg-white rounded-xl border border-gray-200 shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="text-2xl text-center font-thin  text-gray-900 dark:text-white">Company</h5>
        </div>
        <div class="block p-5 max-w-sm bg-white rounded-xl border border-gray-200 shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="text-2xl text-center font-thin  text-gray-900 dark:text-white">Company</h5>
            </div>
            <div class="block p-5 max-w-sm bg-white rounded-xl border border-gray-200 shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="text-2xl text-center font-thin  text-gray-900 dark:text-white">Company</h5>
                </div>
                <div class="block p-5 max-w-sm bg-white rounded-xl border border-gray-200 shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="text-2xl text-center font-thin  text-gray-900 dark:text-white">Company</h5>
                    </div>
                    <div class="block p-5 max-w-sm bg-white rounded-xl border border-gray-200 shadow-xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="text-2xl text-center font-thin  text-gray-900 dark:text-white">Company</h5>
                        </div>
    </div>
  </div>
  <!-- compamy end -->

  <!-- aboutus -->
<div class="my-10 box-border h-auto w-full p-4 border-0 shadow-xl shadow-slate-500/50">
    <div class="container mx-auto">
        <div class="uppercase tracking-wide text-5xl my-5"><p>About Us</p></div>
        <div class="border border-slate-900 border-y-2 rounded-full"></div>
        <div class="my-7 indent-12 text-xl">
            <p>?PyStars - We are a budding team of programmers with an innovative approach to work. Always ready to work with your projects and ideas. Progress is not standing still, and so are we... While working on each project our goals are fully dedicated and focused on development and submission of the project.?</p>
        </div>
    </div>

</div>
  <!-- aboutus end -->

  <!-- services -->
<div class=" my-10 box-border h-auto w-full p-4 border-0 shadow-xl shadow-slate-500/50">
      <div class="container mx-auto">
        <div class="uppercase tracking-wide text-5xl">Software Development Services</div>
        <div class="my-7 flex flex-wrap flex-col-2 justify-center gap-4">
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
            <div class="max-w-sm bg-white rounded-br-xl rounded-tl-xl border border-gray-200 hover:bg-gray-100 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <p>
                    <img class="rounded-tl-xl" src="https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Services"/>
                </p>
                <div class="p-4">
                    <p>
                        <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product</h5>
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
                </div>
            </div>
            <!--  -->
        </div>    
    </div>
</div>    
  <!-- services end -->
  {% comment %}  
  <!-- projects -->
  <div class=" my-10 box-border h-auto w-full p-4 border-0 shadow-xl shadow-slate-500/50">
    <div class="container mx-auto">
      <div class="uppercase tracking-wide text-5xl">Our projects</div>
      <div class="my-7 flex flex-wrap flex-col-2 justify-center gap-4">
        <!--  -->
        <div class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Project name</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatem quidem molestiae!</p>
            </div>
        </div>
        <!--  -->
        <div class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Project name</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatem quidem molestiae!</p>
            </div>
        </div>
        <!--  -->
        <div class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Project name</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatem quidem molestiae!</p>
            </div>
        </div>
    </div>
</div>
</div>
  <!-- projets end -->
{% endcomment %}
  <!-- team -->
  <div class=" my-10 box-border h-auto w-full p-4 border-0 shadow-xl shadow-slate-500/50">
    <div class="container mx-auto">
        <div class="uppercase tracking-wide text-5xl">Our team</div>    
    <div class="my-7 flex flex-wrap flex-col-2 gap-4 justify-center">
  <!--  -->
  <div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person1.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Yaroslav</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Good guy</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person2.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Alexandr</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Designer</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person3.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ivan</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Back-end developer</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person9.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dmitriy</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Back-end developer</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person8.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nikita</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Project manager</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person6.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vasiliy</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Good guy</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person7.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Maksim</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Front-end developer</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
<div class="max-w-xs">
    <p>
        <img class="mx-4 object-cover w-24 h-24 rounded-full shadow" src="/static/images/person10.jpg" alt="Services"/>
    </p>
    <div class="p-4">
        <p>
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Anton</h5>
        </p>
        <p class="mb-4 text-xs text-gray-800 dark:text-gray-200">Good guy</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, provident.</p>
    </div>
</div>
<!--  -->
</div>
</div>
</div>
</div>
<!--  -->
    </div>
    </div>

  <!-- team end -->

  <!-- whyus -->
  <div class=" my-10 box-border h-auto w-full p-4 border-0 shadow-xl shadow-slate-500/50">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="lg:pr-10">
        <hr class="my-14 mb-5 border-gray-300" />
        <h5 class="my-8 mb-4 text-4xl font-extrabold leading-none">
            Why us???
          <span class="inline-block text-teal-300">The answer is here</span>
        </h5>
        <p class="my-8 text-gray-900">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem totam rem aperiam, eaque
          ipsa quae explicabo.
        </p>
        <hr class="mb-5 border-gray-300" />
      </div>
      <div>
        <img class="object-cover w-full h-56 rounded shadow-lg sm:h-96" src="https://i.picsum.photos/id/1/5616/3744.jpg?hmac=kKHwwU8s46oNettHKwJ24qOlIAsWN9d2TtsXDoCWWsQ" alt="" />
      </div>
    </div>
  </div>
</div>
  <!-- whyus end -->

  <!-- contact -->
    <div class="container mx-auto">
        <div class="uppercase tracking-wide text-5xl text-center">If you still have <span class="inline-block text-teal-300">questions</span>...</div> 
        <!--  -->
        <div class="my-7 relative z-0 overflow-hidden bg-no-repeat bg-cover rounded-xl" style="
        background-position: 50%;
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');
        height: 420px;
      ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.75)">
          <div class="flex justify-center items-center h-full">
            <div class="text-center text-white px-6 md:px-12">
              <h1 class="text-5xl font-bold my-9">Write to us!</h1>
<!--  -->
<label for="email-address-icon" class="my-8 block mb-2 text-sm font-medium text-white dark:text-gray-300">Your Email</label>
<div class="relative">
  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
  </div>
  <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@email.com">
</div>
<!--  -->

<label for="message" class="my-4 block mb-2 text-sm font-medium text-white dark:text-gray-400">Your message</label>
<textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>

<!--  -->
              <button type="button"
                class="my-7 inline-block px-6 py-2.5 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                data-mdb-ripple="true" data-mdb-ripple-color="light">
                Send an email
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- contact end -->
{% endblock content %}
