@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    .background {
        width: 80%;
        height: 100%;
        background: transparent;
        margin: 0 auto;
        position: relative;
    }
    
    .background div {
        position: absolute;
        border-radius: 50%;
    }
    
    .coding {
        width: 150px;
        height: 150px;
        background: white;
        box-shadow: 1px 1px 20px gray;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
    }
    
    .coding>img {
        width: 149px;
        height: 149px;
        border-radius: 50%;
    }
    
    .marsOrbit {
        width: 50px;
        height: 50px;
        border: 1px dashed #FA8008;
        top: calc(50% - 90px);
        left: calc(50% - 90px);
    }
    /*python icon*/
    
    .outline {
        width: 280px;
        height: 280px;
        border: 1px dashed black;
        top: calc(50% - 140px);
        left: calc(50% - 140px);
    }
    
    .pyicon {
        width: 60px;
        height: 60px;
        background: transparent;
        top: calc(50% - 7px);
        left: calc(50% - 167px);
        transform-origin: 167px 7px;
        animation: rotate 15s linear infinite;
    }
    
    .pyicon>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    /*java script icon*/
    
    .marsOrbit {
        width: 50px;
        height: 50px;
        border: 1px dashed #FA8008;
        top: calc(50% - 90px);
        left: calc(50% - 90px);
    }
    
    .jsicon {
        width: 60px;
        height: 60px;
        background: transparent;
        top: calc(50% - 7px);
        left: calc(50% - 167px);
        transform-origin: 167px 7px;
        animation: rotate 20s linear infinite;
    }
    
    .jsicon>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    /*Юпитер*/
    
    .reactOrbit {
        width: 60px;
        height: 60px;
        border: 1px dashed #ffffff;
        top: calc(50% - 210px);
        left: calc(50% - 210px);
    }
    
    .react {
        width: 60px;
        height: 60px;
        background: transparent;
        top: calc(50% - 7px);
        left: calc(50% - 167px);
        transform-origin: 167px 7px;
        animation: rotate 30s linear infinite;
    }
    
    .reaction>img {
        width: 80px;
        height: 80px;
        border-radius: 70%;
    }
    /*Сатурн*/
    
    .svelteiconOrbit {
        width: 580px;
        height: 580px;
        border: 1px dashed #ffffff;
        top: calc(50% - 290px);
        left: calc(50% - 290px);
    }
    
    .svelteicon {
        width: 60px;
        height: 60px;
        background: transparent;
        top: calc(50% - 7px);
        left: calc(50% - 167px);
        transform-origin: 167px 7px;
        animation: rotate 40s linear infinite;
    }
    
    .svelteicon>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}